* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Raleway', sans-serif;
    background-color: #000000e0; */
    font-family: 'Roboto', sans-serif;
}


/* header starts */

header {
    background-position: 85% bottom;
    /* background-image: url(https://imgd.aeplcdn.com/310x174/n/bw/models/colors/harleydavidson-select-model-vivid-black-1638641755285.jpg?q=80); */
    background-repeat: no-repeat;
    background-size: 53%;
    object-fit: cover;
    height: 100vh;
    position: relative;
    z-index: 0;
    background-image: url(https://www.transparentpng.com/thumb/motorcycle/HZgl8M-blue-race-motorcycle-background.png);
    z-index: 0;
}

.header_content {}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: #131516b8;
    z-index: -1;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: #4b0f14fa;
    z-index: -1;
    opacity: .8;
}

.navbar-brand img {
    width: 90px;
    height: 90px;
}

.navbar-light .navbar-nav .nav-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    position: relative;
    display: block;
    padding: 0 2px;
    margin: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid transparent;
    background-color: transparent;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffffd9;
    transition: .5s all ease-in-out;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2a2b2b+0,8d3c39+100&1+0,0+50,0+50,1+100 */
    background: -moz-linear-gradient(top, rgba(42, 43, 43, 1) 0%, rgba(92, 52, 50, 0) 50%, rgba(141, 60, 57, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(42, 43, 43, 1) 0%, rgba(92, 52, 50, 0) 50%, rgba(141, 60, 57, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(42, 43, 43, 1) 0%, rgba(92, 52, 50, 0) 50%, rgba(141, 60, 57, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2a2b2b', endColorstr='#8d3c39', GradientType=0);
    /* IE6-9 */
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #ffffffd9;
}

.navbar-light .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: 5px;
    height: 5px;
    padding: 7px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    transform-origin: left;
    transition: .5s all ease-in-out;
    box-sizing: border-box;
}

.navbar-light .navbar-nav .nav-link:hover::before {
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    transition: .5s all ease-in-out;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
}

.navbar-light .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: -8px;
    right: -8px;
    width: 5px;
    height: 5px;
    padding: 7px;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    transform-origin: left;
    transition: .5s all ease-in-out;
    box-sizing: border-box;
}

.navbar-light .navbar-nav .nav-link:hover::after {
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    transition: .5s all ease-in-out;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

.btn-shop,
.btn-buy {
    text-transform: uppercase;
    background-color: #ffffff;
    color: #2A2B29;
    padding: 8px 30px;
    font-size: 18px;
    border: 1px soli transparent;
}

.btn-shop:hover {
    background-color: #2a2b2b;
    color: #ffffff;
    border: 1px solid transparent;
    transition: .5s all ease-in-out;
}

.btn-buy:hover {
    background-color: #9a3632cf;
    color: #ffffff;
    border: 1px solid transparent;
    transition: .5s all ease-in-out;
}

.header_content h2 {
    color: #ffffffd9;
    font-size: 35px;
    font-weight: 600;
    font-style: italic;
}

.header_content h1 {
    color: #ffffffd9;
    font-size: 65px;
    margin: 40px 0;
    font-weight: 900;
    font-style: italic;
}

.header_content h3 {
    color: #ffffffd9;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    font-style: italic;
}

.header_content ul,
.mountain_bikes ul,
.city_bikes ul,
.speciality_bikes ul {
    list-style: none;
    color: #ffffffd9;
    padding: 0;
}

.header_content ul li,
.mountain_bikes ul li,
.city_bikes ul li,
.speciality_bikes ul li {
    font-size: 14px;
}

.header_content h5,
.mountain_bikes h5,
.city_bikes h5,
.speciality_bikes h5 {
    font-size: 14px;
}

.details_logo {
    height: 35px;
    width: 35px;
    border: 1px solid transparent;
    /* font-size: 18px; */
    margin-right: 0px;
    color: #ffffffd9;
}

.header_content ul li:hover .details_logo,
.mountain_bikes ul li:hover .details_logo,
.city_bikes ul li:hover .details_logo,
.speciality_bikes ul li:hover .details_logo,
.speciality_bikes ul li:hover h5 {
    color: #9A3632;
    transition: .5s all ease-in-out;
}

.header_content ul li:hover h5,
.mountain_bikes ul li:hover h5,
.city_bikes ul li:hover h5,
.speciality_bikes ul li:hover h5 {
    color: #9A3632;
    text-decoration: underline;
    transition: .5s all ease-in-out;
}


/* header ends */


/* arrival section starts */

.arrival {}

.arrival h1,
.kyro h1,
.accessories h1,
.program h1 {
    color: #2a2b2b;
    font-size: 65px;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
}

.bike_model {
    border: 1px solid transparent;
}

.bike_images img {
    width: 100%;
    height: 100%;
}

.bike_images {
    height: 300px;
    width: 90%;
    overflow: hidden;
    /* background-color: rebeccapurple; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bike_feature {
    padding: 0 10%;
}

.bike_feature h6 {
    color: #CED0D2;
    font-size: 16px;
    font-weight: 400;
    /* letter-spacing: 0px; */
    margin-top: 25px;
    text-transform: uppercase;
}

.bike_feature h3 {
    color: #161616;
    font-size: 18px;
    font-weight: 800;
    font-style: italic;
    margin: 10px 0;
    text-transform: uppercase;
}

.bike_feature p {
    color: #4B4F58;
    font-size: 18px;
    font-weight: 500;
}

.bike_model_carousel .owl-dots {
    display: block;
    text-align: center;
    margin-top: 100px;
}

.bike_model_carousel .owl-dots .owl-dot span {
    display: block;
    height: 8px;
    width: 8px;
    background-color: #b7b7b7;
    border-radius: 50%;
    margin: 5px;
}

.bike_model_carousel .owl-dots .active span {
    background-color: #9A3632;
    height: 10px;
    width: 10px;
}


/* arrival section ends */


/* collection part starts */

.collection {
    background: #000000e3;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e6491818', endColorstr='#e6491818', GradientType=0);
}

.mountain_bikes {
    height: 100vh;
    align-items: center;
    /* background-image: url(../images/banner.png); */
    background-image: url(https://www.transparentpng.com/thumb/race/JQV536-motorcycle-race-clipart-hd.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 55%;
    position: relative;
    z-index: 0;
}

.mountain_bikes::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,141313+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(20, 19, 19, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(20, 19, 19, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(20, 19, 19, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#141313', GradientType=0);
    /* IE6-9 */
    z-index: -1;
}

.mountain_bikes h2,
.city_bikes h2,
.speciality_bikes h2 {
    margin-top: 18%;
    margin-bottom: 5%;
    color: #ffffffd9;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
}

.mountain_bikes h1,
.city_bikes h1,
.speciality_bikes h1 {
    margin-bottom: 5%;
    color: #ffffffd9;
    font-size: 45px;
    font-style: italic;
    font-weight: 800;
    text-transform: uppercase;
}

.mountain_bikes p,
.city_bikes p,
.speciality_bikes p {
    margin-bottom: 4%;
    color: #ffffffd9;
    font-size: 18px;
    font-weight: 300;
}

.city_bikes {
    height: 100vh;
    /* background-image: url(../images/banner.png); */
    background-image: url(https://www.transparentpng.com/thumb/bike/clipart-photos-png-bike-14.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    position: relative;
    z-index: 0;
}

.city_bikes::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,141313+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(20, 19, 19, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(20, 19, 19, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(20, 19, 19, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#141313', GradientType=0);
    /* IE6-9 */
    z-index: -1;
}

.speciality_bikes {
    /* background-color: rebeccapurple; */
    /* background-image: url(../images/banner.png); */
    height: 100vh;
    background-image: url(https://www.transparentpng.com/thumb/motorcycle/YWFehN-green-bajaj-pulsar-motorcycle-photos.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 45%;
    position: relative;
    z-index: 0;
}

.speciality_bikes::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,141313+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(20, 19, 19, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(20, 19, 19, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(20, 19, 19, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#141313', GradientType=0);
    /* IE6-9 */
    z-index: -1;
}


/* collection section ends */


/* kyro part starts */

.kyro {}

.kyro h1 {}

.kyro_image {
    position: relative;
    border: 1px solid transparent;
    height: 200px;
}

.kyro_image::before {
    content: '';
    position: absolute;
    height: 00%;
    width: 100%;
    bottom: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1a1a1a+0,1a1a1a+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(26, 26, 26, 0) 0%, rgba(26, 26, 26, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(26, 26, 26, 0) 0%, rgba(26, 26, 26, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(26, 26, 26, 0) 0%, rgba(26, 26, 26, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#001a1a1a', endColorstr='#1a1a1a', GradientType=0);
    /* IE6-9 */
}

.kyro_image:hover::before {
    height: 100%;
    transition: .5s all ease-in-out;
}

.kyro_image img {
    width: 100%;
    height: 100%;
}

.kyro_image_title {
    position: absolute;
    color: #ffffffd9;
    font-size: 18px;
    font-weight: 600;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    z-index: 9;
    opacity: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2a2b2b+0,8d3c39+100&1+0,0+50,0+50,1+100 */
    background: -moz-linear-gradient(top, rgba(42, 43, 43, 1) 0%, rgba(92, 52, 50, 0) 50%, rgba(141, 60, 57, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(42, 43, 43, 1) 0%, rgba(92, 52, 50, 0) 50%, rgba(141, 60, 57, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(42, 43, 43, 1) 0%, rgba(92, 52, 50, 0) 50%, rgba(141, 60, 57, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2a2b2b', endColorstr='#8d3c39', GradientType=0);
    /* IE6-9 */
}

.kyro_image:hover .kyro_image_title {
    top: 5%;
    left: 5%;
    transition: .5s all ease-in-out;
    opacity: 1;
}

.kyro_list {
    position: relative;
    display: block;
    padding: 5px;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #565656;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid transparent;
    background-color: transparent;
}

.kyro_list::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 5px;
    height: 5px;
    padding: 7px;
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    transform-origin: left;
    transition: .5s all ease-in-out;
    box-sizing: border-box;
}

.kyro_list::after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 5px;
    height: 5px;
    padding: 7px;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    transform-origin: left;
    transition: .5s all ease-in-out;
    box-sizing: border-box;
}

.kyro_list:hover::before {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    transition: .5s all ease-in-out;
    border-top: 2px solid #9A3632;
    border-left: 2px solid #9A3632;
}

.kyro_list:hover::after {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    transition: .5s all ease-in-out;
    border-bottom: 2px solid #9A3632;
    border-right: 2px solid #9A3632;
}

.kyro_list:hover {
    border: 1px solid darkgrey;
    color: #1d102c;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2a2b2b+0,8d3c39+100&1+0,0+50,0+50,1+100 */
    background: -moz-linear-gradient(top, rgba(42, 43, 43, 1) 0%, rgba(92, 52, 50, 0) 50%, rgba(141, 60, 57, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(42, 43, 43, 1) 0%, rgba(92, 52, 50, 0) 50%, rgba(141, 60, 57, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(42, 43, 43, 1) 0%, rgba(92, 52, 50, 0) 50%, rgba(141, 60, 57, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2a2b2b', endColorstr='#8d3c39', GradientType=0);
    /* IE6-9 */
    transition: .5s all ease-in-out;
    opacity: 1;
}


/* kyro section ends */


/* accessories part starts */

.accessories {}

.btn-view {
    text-transform: uppercase;
    background-color: #9A3632;
    color: #ffffff;
    padding: 8px 30px;
    font-size: 18px;
    border: 1px solid transparent;
    font-size: 25px;
    font-weight: 500;
}

.btn-view:hover {
    background-color: #2a2b2b;
    color: #ffffff;
    border: 1px solid transparent;
    transition: .5s all ease-in-out;
}


/* accessories section ends */


/* program part starts */

.program {
    background-color: #F5F5F5;
}

.program h2 {
    color: #161616;
    font-size: 30px;
}

.program p {
    color: #4B4F58;
    font-size: 16px;
    margin-top: 15px;
}

.program video {
    width: 94%;
    border: 8px solid #2A2B29;
    height: 95%;
}

.video_screen {
    position: relative;
}

.playlist_button {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    border: 1px solid transparent;
    background-color: transparent;
    color: #ffffffd9;
    font-size: 14px;
    transition: .5s all ease-in-out;
    opacity: 0;
}

.video_screen:hover .playlist_button {
    opacity: 1;
}

.playlist_button ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.playlist_button ul li {
    height: 45px;
    width: 45px;
    border: 1px solid #ffffff;
    -webkit-font-smoothing: subpixel-antialiased;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist_button ul li:hover {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2a2b2b+0,8d3c39+100&1+0,0+50,0+50,1+100 */
    background: -moz-linear-gradient(top, rgba(42, 43, 43, 1) 0%, rgba(92, 52, 50, 0) 50%, rgba(141, 60, 57, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(42, 43, 43, 1) 0%, rgba(92, 52, 50, 0) 50%, rgba(141, 60, 57, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(42, 43, 43, 1) 0%, rgba(92, 52, 50, 0) 50%, rgba(141, 60, 57, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2a2b2b', endColorstr='#8d3c39', GradientType=0);
    /* IE6-9 */
    border: 1px solid transparent;
    color: #ffffffd9;
    transition: .5s all ease-in-out;
    overflow: hidden;
}


/* program section ends */


/* new section ends */

.new {
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1552306062-29a5560e1c31?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    z-index: 0;
}

.new::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,141313+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(20, 19, 19, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(20, 19, 19, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(20, 19, 19, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#141313', GradientType=0);
    /* IE6-9 */
    z-index: -1;
}

.new h2 {
    color: #ffffffd9;
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
    margin-top: 13%;
}

.new h1 {
    color: #ffffffd9;
    margin-top: 5px;
    font-size: 55px;
    font-weight: 900;
}

.new p {
    color: #ffffffd9;
    margin-top: 10px;
    margin-bottom: 3%;
}


/* new part starts */


/* map part starts */

.map {
    position: relative;
}

.map_content {
    padding: 25px 20px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    background-color: #58ac12;
    transition: 0.4s all ease-in-out;
}

.map_content p {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 16px;
    font-weight: 400;
}


/* map part ends */


/* footer part starts */

footer {
    background-color: #141313;
    position: relative;
}

.foot_logo_content ul {
    list-style: none;
    width: 40%;
    margin: auto;
}

.foot_logo_content ul li {
    margin: 0px 0px;
}

.foot_logo_content ul li a {
    text-decoration: none;
}

.contact-details {
    border: 1px solid transparent;
    color: #ffffffd9;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-details:hover {
    border: 1px solid #2A2B29;
    background-color: #2A2B29;
    color: #9A3632;
    transition: .5s all ease-in-out;
}

footer h3 {
    color: #ffffffd9;
    font-size: 25px;
    font-weight: 500;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

footer ul li {}

footer ul li a {
    text-decoration: none;
    color: #ffffffd9;
    font-size: 15px;
    text-transform: capitalize;
}

footer ul li a:hover {
    color: #9A3632;
    text-decoration: revert;
    transition: .5s al ease-in-out;
}

.foot_logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #2A2B29;
}

.foot_logo:hover {
    background-color: #9A3632;
    transition: .8s al ease-in-out;
}

.blank_space {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #4b4f587a;
    position: absolute;
    left: 0;
    bottom: 20%;
}

footer h6 {
    color: #ffffffd9;
    font-size: 14px;
}

footer h6 span {
    color: #9A3632;
}


/*footer part end */